#special-sponsor {
    border-top: 1px solid var(--vp-c-divider);
    border-bottom: 1px solid var(--vp-c-divider);
    padding: 16px 24px;
    display: flex;
    align-items: center;
    margin-top: 64px;
}

#special-sponsor span {
    color: var(--vp-c-text-2);
    font-weight: 500;
    font-size: 13px;
    vertical-align: middle;
    flex: 1;
}

#special-sponsor span:first-child {
    text-align: right;
}

#special-sponsor a {
    display: flex;
    justify-content: center;
    padding: 0 24px;
}

#special-sponsor img {
    height: 42px;
}

@media (max-width: 640px) {
    #special-sponsor {
        flex-direction: column
    }
}

/* Tooltips */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s !important;
  animation-name: fadeIn;
  animation-duration: 0.4s !important;
}
  
/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--vp-c-bg);
  box-shadow: 0px 0px 20px var(--vp-c-bg);
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s !important;
  animation-name: slideIn;
  animation-duration: 0.4s !important;
}

.modal-body {
  padding: 1px 32px;
  color: var(--vp-custom-block-info-text);
  background-color: var(--vp-custom-block-info-bg);
}

.invisible {
  display: none;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}