<#@ template language="C#" linePragmas="false" #>
{
  "sdk": {
    "version": "9.0.300",
    "rollForward": "latestMajor",
    "allowPrerelease": false
  }<# if (_featureProvider.IsEnabled("build-traversal")) { #>,
  "msbuild-sdks": {
    "Microsoft.Build.Traversal": "4.1.82"
  }<# } #>

}
