<#@ template language="C#" linePragmas="false" #>
<Project Sdk="Microsoft.NET.Sdk">

  <PropertyGroup>
<# if (Model.HasCustomName) { #>
    <AssemblyName><#= Model.AssemblyName #></AssemblyName>
    <RootNamespace><#= Model.RootNamespace #></RootNamespace>

<# } #>
    <TargetFramework>net<#= Model.DotNetVersion #>.0</TargetFramework>
    <LangVersion>latest</LangVersion>
    <Nullable>enable</Nullable>
    <ImplicitUsings>enable</ImplicitUsings>
  </PropertyGroup>

</Project>
