<#@ template language="C#" linePragmas="false" #>
{
  "$schema": "https://raw.githubusercontent.com/akobr/Nerdbank.GitVersioning/main/monorepo/src/NerdBank.GitVersioning/version.schema.json",
  "version": "<#= Model.Version #>",
  "inherit": true,
<# if (Model.IsHierarchical) { #>
  "hierarchicalVersion": true
<# } else { #>
  "pathFilters": [ "." ]
<# } #>
}
